<h2>Este es el encabezado</h2>
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

<div class="container">
@RenderBody()



</div>



<h2>Este es el pie de pagina</h2>